<div class="layer-hover">
    <button class="add-to-cart">Add to cart</button>
    <div class="actions">
        <a href="" class="action share">
            <svg-icon src="assets/share.svg"></svg-icon>
            Share
        </a>
        <a href="" class="action share">
            <svg-icon src="assets/compare.svg"></svg-icon>
            Compare
        </a>
        <a href="" class="action share">
            <svg-icon src="assets/like.svg"></svg-icon>
            Like
        </a>
    </div>
</div>