<footer>
  <div class="footer__container">
    <div class="logo__address">
      <h2 class="title">Furniro.</h2>
      <span class="address">
        400 University Drive Suite 200 Coral Gables, 
        <br>
        FL 33134 USA
      </span>
    </div>
    <div class="links">
      <span class="column__title">
        Links
      </span>
      <a [routerLink]="['']" class="link">
        Home
      </a>
      <a [routerLink]="['']" class="link">
        Shop
      </a>
      <a [routerLink]="['']" class="link">
        Blog
      </a>
      <a [routerLink]="['']" class="link">
        Contact
      </a>
    </div>
    <div class="help">
      <span class="column__title">
        Help
      </span>
      <a href="" class="link">
        Payment Options
      </a>
      <a href="" class="link">
        Returns
      </a>
      <a href="" class="link">
        Privacy Policies
      </a>
    </div>
    <div class="newsletter">
      <h3 class="column__title">Newsletter</h3>
      <div class="newsletter__input-container">
        <form action="">
          <label for="email" class="sr-only">Email</label>
          <input type="email" name="email" id="email" placeholder="enter your email address" required>
          <button type="submit">subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <span class="copyright">2023 Furniro. All rights reserved</span>
</footer>