<footer>
  <div class="footer__container">
    <div class="logo__address">
      <h2 class="title">Furniro.</h2>
      <span class="address">
        400 University Drive Suite 200 Coral Gables, 
        <br>
        FL 33134 USA
      </span>
    </div>
    <ul class="links">
      <li class="column__title">
        Links
      </li>
      <li>
        <a href="" class="link">
          Home
        </a>
      </li>
      <li>
        <a href="" class="link">
          Shop
        </a>
      </li>
      <li>
        <a href="" class="link">
          Blog
        </a>
      </li>
      <li>
        <a href="" class="link">
          Contact
        </a>
      </li>
    </ul>
    <ul class="help">
      <li class="column__title">
        Help
      </li>
      <li>
        <a href="" class="link">
          Payment Options
        </a>
      </li>
      <li>
        <a href="" class="link">
          Returns
        </a>
      </li>
      <li>
        <a href="" class="link">
          Privacy Policies
        </a>
      </li>
    </ul>
    <div class="newsletter">
      <h3 class="column__title">Newsletter</h3>
      <div class="newsletter__input-container">
        <label for="email" class="sr-only">Email</label>
        <input type="email" name="email" id="email" placeholder="enter your email address" required>
        <button type="submit">subscribe</button>
      </div>
    </div>
  </div>
  <hr>
  <span class="copyright">2023 Furniro. All rights reserved</span>
</footer>