<app-breadcrumb-banner></app-breadcrumb-banner>
<app-toolbar></app-toolbar>
<section class="products__container default-max-width-setup">
    <div class="cards__container">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
    <div class="pagination__container">
        <button type="button" class="--active">1</button>
        <button type="button">2</button>
        <button type="button">3</button>
        <button type="button">Next</button>
    </div>
</section>
<app-features-banner></app-features-banner>