@import "src/_variables.scss";

.products__container {
    
    .cards__container {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
        padding: 0 5.6rem;
    }

    .pagination__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4.0rem;
        margin: 7.2rem 0 8.8rem;

        button {
            min-width: 60px;
            height: 60px;
            background: $primary-light;
            border-radius: 8px;
            padding: 1.6rem 2.4rem;
            transition: all .2s ease-in;
            font-weight: 300;
            font-size: 2.0rem;
            line-height: normal;
            color: $color-black;

            &:hover, &.--active {
                background: $primary;
                color: $color-white;
            }
        }
    }
}