<div class="browse-range__container default-max-width-setup">
    <h2 class="title">
        Browse the range
    </h2>
    <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="banners__container">
        <div class="banner">
            <img src="assets/png/banner-dining.png" alt="Banner Dining">
            <h3 class="title">Dining</h3>
        </div>
        <div class="banner">
            <img src="assets/png/banner-living.png" alt="Banner Living">
            <h3 class="title">Living</h3>
        </div>
        <div class="banner">
            <img src="assets/png/banner-bedroom.png" alt="Banner Bedroom">
            <h3 class="title">Bedroom</h3>
        </div>
    </div>
</div>