<header class="default-max-width-setup">
  <div class="logo__container">
    <svg-icon src="assets/logo.svg"></svg-icon>
    <p class="logo__title">
      Furniro
    </p>
  </div>
  <nav>
    <a href="/">Home</a>
    <a href="/shop">Shop</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contact</a>
  </nav>
  <div class="right-column__container">
    <svg-icon src="assets/profile.svg" class="icon"></svg-icon>
    <svg-icon src="assets/search.svg" class="icon"></svg-icon>
    <svg-icon src="assets/heart.svg" class="icon"></svg-icon>
    <svg-icon src="assets/cart.svg" class="icon"></svg-icon>
  </div>
</header>