<div class="hero__container">
    <div class="banner__container default-max-width-setup">
        <div class="banner">
            <span class="small__text">
                New Arrival
            </span>
            <h1 class="title">
                Discover our new collection
            </h1>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.
            </p>
            <a href="" class="buy-now">buy now</a>
        </div>
    </div>
</div>