@import 'src/_variables.scss';

.hero__container {
    width: 100%;
    height: 716px;
    background: url("/assets/png/hero-banner.png") no-repeat center center / cover;
    margin-bottom: 5.6rem;
}

.banner__container {
    height: 100%;
    position: relative;

    .banner {
        width: 643px;
        height: auto;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        background: #FFF3E3;
        padding: 4.0rem;
    
        .small__text {
            font-weight: 600;
            font-size: 1.6rem;
            letter-spacing: 3px;
            color: $color-black-3;
        }
    
        .title {
            width: 80%;
            font-weight: 700;
            font-size: 5.2rem;
            line-height: 6.5rem;
            color: $primary;
            text-transform: capitalize;
            margin-bottom: .8rem;
        }
        
       .description {
        width: 95%;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 24px;
        color: $color-black-3;
        margin-bottom: 4.8rem;
       }
    
       .buy-now {
        width: max-content;
        display: block;
        background: $primary;
        padding: 2.4rem 7.2rem;
        font-weight: 700;
        font-size: 1.6rem;
        color: $color-white;
        text-transform: uppercase;
    
        &:hover {
            filter: brightness(90%);
        }
       }
    }
}
