<div class="gallery__container default-max-width-setup">
    <div class="title__container">
        <h2 class="title">
            50+ Beautiful rooms inspiration
        </h2>
        <p class="description">
            Our designer already made a lot of beautiful prototipe of rooms that inspire you
        </p>
        <a href="" class="explore-more">explore more</a>
    </div>
    <div class="gallery">
        <swiper-container class="gallery-swiper" navigation="true" pagination="true" autoplay="true" slides-per-view="1" >
            <swiper-slide class="slide">
                <img src="assets/png/gallery-image-1.png" alt="">
                <div class="product-informations__container">
                    <div class="product-information">
                        <p class="title">
                            01 
                            <span></span> 
                            Bed Room
                        </p>
                        <p class="description">Inner Peace</p>
                    </div>
                    <button type="button" title="explore more" class="nav">
                        <svg-icon src="assets/arrow-right-body.svg"></svg-icon>
                    </button>
                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <img src="assets/png/gallery-image-2.png" alt="">
                <div class="product-informations__container">
                    <div class="product-information">
                        <p class="title">
                            01 
                            <span></span> 
                            Bed Room
                        </p>
                        <p class="description">Inner Peace</p>
                    </div>
                    <button type="button" title="explore more" class="nav">
                        <svg-icon src="assets/arrow-right-body.svg"></svg-icon>
                    </button>
                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <img src="assets/png/gallery-image-3.png" alt="">
                <div class="product-informations__container">
                    <div class="product-information">
                        <p class="title">
                            01 
                            <span></span> 
                            Bed Room
                        </p>
                        <p class="description">Inner Peace</p>
                    </div>
                    <button type="button" title="explore more" class="nav">
                        <svg-icon src="assets/arrow-right-body.svg"></svg-icon>
                    </button>
                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <img src="assets/png/gallery-image-1.png" alt="">
                <div class="product-informations__container">
                    <div class="product-information">
                        <p class="title">
                            01 
                            <span></span> 
                            Bed Room
                        </p>
                        <p class="description">Inner Peace</p>
                    </div>
                    <button type="button" title="explore more" class="nav">
                        <svg-icon src="assets/arrow-right-body.svg"></svg-icon>
                    </button>
                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <img src="assets/png/gallery-image-2.png" alt="">
                <div class="product-informations__container">
                    <div class="product-information">
                        <p class="title">
                            01 
                            <span></span> 
                            Bed Room
                        </p>
                        <p class="description">Inner Peace</p>
                    </div>
                    <button type="button" title="explore more" class="nav">
                        <svg-icon src="assets/arrow-right-body.svg"></svg-icon>
                    </button>
                </div>
            </swiper-slide>
            <swiper-slide class="slide">
                <img src="assets/png/gallery-image-3.png" alt="">
                <div class="product-informations__container">
                    <div class="product-information">
                        <p class="title">
                            01 
                            <span></span> 
                            Bed Room
                        </p>
                        <p class="description">Inner Peace</p>
                    </div>
                    <button type="button" title="explore more" class="nav">
                        <svg-icon src="assets/arrow-right-body.svg"></svg-icon>
                    </button>
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</div>