<div class="our-products__container default-max-width-setup">
    <h2 class="title">
        Our Products
    </h2>
    <div class="products__cards">
        <div class="card__container">
            <span class="flag discount">-30%</span>
            <img src="assets/png/syltherine.png" alt="">
            <div class="product-info__container">
                <h4 class="title">Syltherine</h4>
                <p class="description">Stylish cafe chair</p>
                <div class="price__container">
                    <span class="selling-price">$450.00</span>
                    <span class="price">$500.00</span>
                </div>
            </div>
            <app-layer-hover class="layer-hover"></app-layer-hover>
        </div>
        <div class="card__container">
            <span class="flag new">new</span>
            <img src="assets/png/syltherine.png" alt="">
            <div class="product-info__container">
                <h4 class="title">Syltherine</h4>
                <p class="description">Stylish cafe chair</p>
                <div class="price__container">
                    <span class="selling-price">$450.00</span>
                    <span class="price">$500.00</span>
                </div>
            </div>
            <app-layer-hover class="layer-hover"></app-layer-hover>
        </div>
        <div class="card__container">
            <span class="flag discount">-30%</span>
            <img src="assets/png/syltherine.png" alt="">
            <div class="product-info__container">
                <h4 class="title">Syltherine</h4>
                <p class="description">Stylish cafe chair</p>
                <div class="price__container">
                    <span class="selling-price">$450.00</span>
                    <span class="price">$500.00</span>
                </div>
            </div>
            <app-layer-hover class="layer-hover"></app-layer-hover>
        </div>
        <div class="card__container">
            <span class="flag new">new</span>
            <img src="assets/png/syltherine.png" alt="">
            <div class="product-info__container">
                <h4 class="title">Syltherine</h4>
                <p class="description">Stylish cafe chair</p>
                <div class="price__container">
                    <span class="selling-price">$450.00</span>
                    <span class="price">$500.00</span>
                </div>
            </div>
            <app-layer-hover class="layer-hover"></app-layer-hover>
        </div>
        <div class="card__container">
            <span class="flag discount">-30%</span>
            <img src="assets/png/syltherine.png" alt="">
            <div class="product-info__container">
                <h4 class="title">Syltherine</h4>
                <p class="description">Stylish cafe chair</p>
                <div class="price__container">
                    <span class="selling-price">$450.00</span>
                    <span class="price">$500.00</span>
                </div>
            </div>
            <app-layer-hover class="layer-hover"></app-layer-hover>
        </div>
        <div class="card__container">
            <span class="flag new">new</span>
            <img src="assets/png/syltherine.png" alt="">
            <div class="product-info__container">
                <h4 class="title">Syltherine</h4>
                <p class="description">Stylish cafe chair</p>
                <div class="price__container">
                    <span class="selling-price">$450.00</span>
                    <span class="price">$500.00</span>
                </div>
            </div>
            <app-layer-hover class="layer-hover"></app-layer-hover>
        </div>
        <div class="card__container">
            <span class="flag discount">-30%</span>
            <img src="assets/png/syltherine.png" alt="">
            <div class="product-info__container">
                <h4 class="title">Syltherine</h4>
                <p class="description">Stylish cafe chair</p>
                <div class="price__container">
                    <span class="selling-price">$450.00</span>
                    <span class="price">$500.00</span>
                </div>
            </div>
            <app-layer-hover class="layer-hover"></app-layer-hover>
        </div>
        <div class="card__container">
            <span class="flag new">new</span>
            <img src="assets/png/syltherine.png" alt="">
            <div class="product-info__container">
                <h4 class="title">Syltherine</h4>
                <p class="description">Stylish cafe chair</p>
                <div class="price__container">
                    <span class="selling-price">$450.00</span>
                    <span class="price">$500.00</span>
                </div>
            </div>
            <app-layer-hover class="layer-hover"></app-layer-hover>
        </div>
    </div>
    <button class="show-more">
        show more
    </button>
</div>