@import 'src/_variables.scss';

.our-products__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    > .title {
        font-weight: 700;
        font-size: 4.0rem;
        line-height: 120%;
        text-align: center;
        color: $color-gray-1;
    }
    .products__cards {
        width: max-content;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3.2rem;
        margin: 3.2rem auto;
    }
    .show-more {
        width: 245px;
        background: transparent;
        padding: 1.2rem;
        border: 1px solid $primary;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 150%;
        color: $primary;
        text-transform: capitalize;

        &:hover {
            opacity: .8;
        }
    }
}