<div class="our-products__container default-max-width-setup">
    <h2 class="title">
        Our Products
    </h2>
    <div class="products__cards">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
    <button type="button" class="show-more">
        show more
    </button>
</div>