<div class="container default-max-width-setup">
    <p class="text">Share your setup with</p>
    <h2 class="title">#FurniroFurniture</h2>
    <div class="gallery__container">
        <div class="column__one">
            <div class="row__one">
                <img src="assets/png/banner-image-1.png" alt="" class="banner-image banner-image-1">
                <img src="assets/png/banner-image-2.png" alt="" class="banner-image banner-image-2">
            </div>
            <div class="row__two">
                <img src="assets/png/banner-image-3.png" alt="" class="banner-image banner-image-3">
                <img src="assets/png/banner-image-4.png" alt="" class="banner-image banner-image-4">
            </div>
        </div>
        <div class="column__two">
            <img src="assets/png/banner-image-5.png" alt="" class="banner-image banner-image-5">
        </div>
        <div class="column__three">
            <div class="row__one">
                <img src="assets/png/banner-image-6.png" alt="" class="banner-image banner-image-6">
                <img src="assets/png/banner-image-7.png" alt="" class="banner-image banner-image-7">
            </div>
            <div class="row__two">
                <img src="assets/png/banner-image-8.png" alt="" class="banner-image banner-image-8">
                <img src="assets/png/banner-image-9.png" alt="" class="banner-image banner-image-9">
            </div>
        </div>
    </div>
</div>