<div class="container default-max-width-setup">
    <div class="tools__container">
        <div class="filter__container">
            <svg-icon class="filter__icon icon" src="assets/filter-icon.svg"></svg-icon>
            <span class="filter__title">Filter</span>
        </div>
        <svg-icon class="gallery-mode-icon icon" src="assets/gallery-icon.svg"></svg-icon>
        <svg-icon class="list-mode-icon icon" src="assets/list-icon.svg"></svg-icon>
        <span class="results-values">Showing 1-16 of 32 results</span>
    </div>
    <div class="show-and-sort__container">
        
        <div class="dropdown__container">
            <span class="showing__title title">
                Show
            </span>
            <div class="dropdown">
                <span class="showing__value value">
                    16
                </span>
                <div class="dropdown__options">
                    <span class="option">
                        16
                    </span>
                    <span class="option">
                        32
                    </span>
                    <span class="option">
                        50
                    </span>
                    <span class="option">
                        64
                    </span>
                    <span class="option">
                        100
                    </span>
                    
                </div>
            </div>
        </div>
        <div class="dropdown__container">
            <span class="sort__title title">
                Sort by
            </span>
            <div class="dropdown">
                <span class="sort__value value">
                    Relevancy
                </span>
                <div class="dropdown__options">
                    <span class="option">
                        Relevancy
                    </span>
                    <span class="option">
                        Price: highest - lowest 
                    </span>
                    <span class="option">
                        Price: lowest - highest
                    </span>
                    <span class="option">
                        Most voted
                    </span>
                    <span class="option">
                        Most rated
                    </span>
                    <span class="option">
                        Most liked
                    </span>
                    
                </div>
            </div>
        </div>
    </div>
</div>