<div class="container default-max-width-setup">
    <div class="tools__container">
        <div class="filter__container">
            <svg-icon class="filter__icon icon" src="assets/filter-icon.svg"></svg-icon>
            <span class="filter__title">Filter</span>
        </div>
        <svg-icon class="gallery-mode-icon icon" src="assets/gallery-icon.svg"></svg-icon>
        <svg-icon class="list-mode-icon icon" src="assets/list-icon.svg"></svg-icon>
    </div>
    <div class="sort__container"></div>
</div>