$primary: #B88E2F;

$color-black: #000;
$color-black-3: #333;
$color-black-6: #666;
$color-white: #fff;
$color-gray-light: #9F9F9F;
$color-gray-1: #3A3A3A;
$color-gray-2: #898989;
$color-gray-3: #B0B0B0;
$color-gray-4: #616161;
$color-light-bg: #F4F5F7;
$color-lightest-bg: #FCF8F3; 
$color-red-accents: #E97171;
$color-green-accents: #2EC1AC;



$breakpoint-desktop-max: 1440px;
$breakpoint-tablet-max: 1025.98px;
$breakpoint-mobile-max: 768px;
