$primary: #B88E2F;

$color-black: #000;
$color-black-3: #333;
$color-white: #fff;
$color-gray-light: #9F9F9F;
$color-gray-1: #3A3A3A;

$breakpoint-desktop-max: 1440px;
$breakpoint-tablet-max: 1025.98px;
$breakpoint-mobile-max: 768px;
