<div class="container default-max-width-setup">
    <div class="feature">
        <svg-icon src="assets/trophy.svg"></svg-icon>
        <div class="title__container">
            <span class="title">High Quality</span>
            <span class="text">crafted from top materials</span>
        </div>
    </div>
    <div class="feature">
        <svg-icon src="assets/warranty.svg"></svg-icon>
        <div class="title__container">
            <span class="title">Warranty Protection</span>
            <span class="text">Over 2 years</span>
        </div>
    </div>
    <div class="feature">
        <svg-icon src="assets/free-shipping.svg"></svg-icon>
        <div class="title__container">
            <span class="title">Free Shipping</span>
            <span class="text">Order over 150 $</span>
        </div>
    </div>
    <div class="feature">
        <svg-icon src="assets/support.svg"></svg-icon>
        <div class="title__container">
            <span class="title">24 / 7 Support</span>
            <span class="text">Dedicated support</span>
        </div>
    </div>
</div>